/.idea/
tutorial/projects/devlang/sites/devlang/data/
docs/genro/genrotit.sql
projects/showcase/sites/showcase/data/
build
gnrpy/build/
logs.log
pyro5.log
dist
.eggs
*.egg-info
_static
*.pyc
*.pyo
*~
gnrpy/.cache
.vscode
gnrpy/gnr/lib/.DS_Store
gnrpy/gnr/lib/services/.DS_Store
.DS_Store
docker/*
.python-version
.spyproject/
.coverage

