/.idea/
tutorial/projects/devlang/sites/devlang/data/
docs/genro/genrotit.sql
projects/showcase/sites/showcase/data/
build
gnrpy/build/
logs.log
pyro5.log
gnr_scheduler_queue_dump.json
dist
\#*
.eggs
*.egg-info
_static
*.pyc
*.pyo
*~
gnrpy/.cache

.vscode
!.vscode/settings.json
!.vscode/tasks.json

gnrpy/gnr/lib/.DS_Store
gnrpy/gnr/lib/services/.DS_Store
.DS_Store
docker/*
.python-version
.spyproject/
.coverage
coverage.xml

.aider*
gnrpy/tests/sql/_main_connection
gnrpy/tests/_main_connection
.qodo
_main_connection
mydb
projects/gnrcore/instances/gnrdevelop/data/adm.db
projects/gnrcore/instances/gnrdevelop/data/sys.db
