/* mimi/base.css — User color variants
   This file is loaded when css_theme_variant='base' (default).
   Copy to acme.css to create a corporate palette with approved variants,
   or leave empty to disable user color choice.
*/

/* Green */
.theme_variant_green {
    --root-top-background: linear-gradient(to bottom, #1d976c, #37ce99);
    --root-top-color: white;
    --dialogtitlebar-background: linear-gradient(to bottom, #1d976c, #37ce99);
    --dialogtitlebar-color: white;
}

/* Blue */
.theme_variant_blue {
    --root-top-background: linear-gradient(to bottom, #4b6cb7, #3b6391);
    --root-top-color: white;
    --dialogtitlebar-background: linear-gradient(to bottom, #4b6cb7, #3b6391);
    --dialogtitlebar-color: white;
}

/* Red */
.theme_variant_red {
    --root-top-background: linear-gradient(to bottom, #d31027, #ea384d);
    --root-top-color: white;
    --dialogtitlebar-background: linear-gradient(to bottom, #d31027, #ea384d);
    --dialogtitlebar-color: white;
}

/* Orange */
.theme_variant_orange {
    --root-top-background: linear-gradient(to bottom, #fa8435, #f96723);
    --root-top-color: white;
    --dialogtitlebar-background: linear-gradient(to bottom, #fa8435, #f96723);
    --dialogtitlebar-color: white;
}

/* Yellow */
.theme_variant_yellow {
    --root-top-background: rgba(234, 203, 110, 1);
    --root-top-color: rgba(30, 48, 85, 1);
    --dialogtitlebar-background: rgba(234, 203, 110, 1);
    --dialogtitlebar-color: rgba(30, 48, 85, 1);
}
