:root {
    --root-dark:#444;
    --root-top-background: rgba(234, 203, 110, 1);
    --root-top-color:rgba(30, 48, 85, 1);
    --frameindex-tablist-background:linear-gradient(to right top, #172b51, #1b3058, #20345e, #243965, #293e6c);
    --frameindex-tablist-color:#ffffff;
    --roundedgroup-bar:linear-gradient(to bottom, #c2d0e9,  #d6dfee);
    --roundedgroup-bar-color:#444;
    --gnrfieldlabel-color:#707070;

    --tab-background:linear-gradient(to bottom, #c2d0e9,  #d6dfee);
    --tab-text-color:#444;
    --tab-selected-background:white;
    --tab-selected-color:#ccc;
    --mainWindow-background:linear-gradient(to top, #f6f8fa, #ffffff);
    --mainWindow-font-size:12px;
    --mainWindow-color:#444;
    --dialogtitlebar-background: linear-gradient(to right top, #172b51, #1b3058, #20345e, #243965, #293e6c);
}